<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Todo List</title>
    </head>
    <body>
        <div>
            <h3>Todos</h3>
        </div>
        <ul>
            {% for todo in todos %}
                <li>{{ todo }} ~ <a href="/finish/{{ loop.index }}">complete</a></li>
            {% else %}
                <li><em>Nothing to do; go grab a beer</em></li>
            {% endfor %}
        </ul>
    </body>
</html>