<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <form method="POST" action="/">
        {{ form.csrf_token }}
        {{ form.title.label }} {{ form.title(size=20) }}
        {{ form.location.label }} {{ form.location(size=50) }}
        <input type="submit" value="Add job">
    </form>
    <br>
    <div>
        Available jobs:
    </div>
    <ul>
        {% for job in jobs %}
            <li>{{ job.title }} available in {{ job.location }} posted {{ job.date_posted }}</li>
        {% else %}
            <li><em>No jobs, come back later!</em></li>
        {% endfor %}
    </ul>
</body>
</html>