<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Indeed Jr</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/post_job">Post a job</a></li>
      </ul>
    </div>
  </nav>
    <div class="container">
        <div>
            <h2>Available jobs:</h2>
        </div>
        <ul>
        {% for job in jobs %}
            <li>{{ job }}</li>
        {% else %}
            <li><em>No jobs, come back later!</em></li>
        {% endfor %}
        </ul>
    </div>

</body>
</html>