<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Indeed Jr -> Open Jobs</title>
</head>
<body>
    <h1>Indeed Jr</h1>
    <div>
        Available jobs:
    </div>
    <ul>
        {% for job in jobs %}
            <li>{{ job }}</li>
        {% else %}
            <li><em>No jobs, come back later!</em></li>
        {% endfor %}
    </ul>
</body>
</html>