<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stylish</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>

</head>
<body>
    <p class="style-blue" id="flashy">I'm flashy</p>
    <button id="flash">Click me</button>
</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>