<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Indeed Jr</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Indeed Jr</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/post_job">Post a job</a></li>
      </ul>
    </div>
  </nav>
    <div class="container">
        <h3 class="header">Post a job</h3>
        <div class="row">
                <form method="POST" action="/" class="col s12">
                {{ form.csrf_token }}
                {{ form.title.label }} {{ form.title(size=20) }}
                {{ form.location.label }} {{ form.location(size=50) }}
                <input type="submit" value="Add job" class="btn blue">
            </form>
        </div>
        <div class="row">
            <div class="col s6 offset-s3">
                <h1 class="header">Available jobs:</h1>
            </div>
        </div>
        <table>
            <thead>
                <th>Job Title</th>
                <th>Location</th>
                <th>Date Posted</th>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{ job.title }}</td>
                    <td>{{ job.location }}</td>
                    <td>{{ job.date_posted }}</td>
                </tr>
                {% else %}
                <tr><em>No jobs, come back later!</em></tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>
</html>